@import url('../css/edit.css');

body {
    background-image: url('../images/estrelasbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 300px;
    background-size: 250px;
    position: absolute;
    opacity: 0,1;
    transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
}    

body::before {
        content: "";
        background-image: url('../images/bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        position:absolute;
        opacity: 0.3;
        transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
    }

.menu {
    padding: 1rem ;
    width: 100%;
    text-align: center;
    position: relative;
    
}

.menu-click {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 1.25rem;
    font-size: 20px;
}

.menu-icone {
    display: inline-block;
    width: 2.5rem;
    margin: 0 5rem;
    vertical-align: middle;
    
}

.tamanho {
    width: 100px;
    height: 100px;
    object-position: -5px ;
}


.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.imagens {
   display: inline-block;
   align-items: center;
   text-align: center;
   margin: 1.25rem 3rem;
   opacity: 1;
   position: relative;
}

.animacaoImagem {
    display: flex;
    transition: transform 0.3s ease-in-out;
    justify-content: center;
    position: relative;
}



.imagem {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: relative;
}

.imagembg {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 1;
    transition: opacity 1s ease-in-out, background-image 1s ease-in-out;
}

.animacaoImagem-hovered .imagembg {
    cursor: pointer;
    opacity: 0;
}

.animacaoImagem-hovered .imagem {
    transform: scale(1.1);
}

body#pais-Alemanha-hovered::before {
    background-image: url('../images/alemanhabg.jpg');
    
}

body#pais-Belgica-hovered::before {
    background-image: url('../images/belgicabg.jpg');
}

body#pais-Espanha-hovered::before {
    background-image: url('../images/espanhabg.jpg');
}

body#pais-França-hovered::before {
    background-image: url('../images/francabg.jpg');
}

body#pais-Inglaterra-hovered::before {
    background-image: url('../images/inglaterrabg.jpg');
}
body#pais-Itália-hovered::before {
    background-image: url('../images/italiabg.jpg');
}
body#pais-Portugal-hovered::before {
    background-image: url('../images/portugalbg.jpg');
}
body#pais-Suíça-hovered::before {
    background-image: url('../images/suicabg.jpg');
}

body[id^="pais-"]::before {
    opacity: 1;
  }

body[id^="pais-"] .animacaoImagem:not(.animacaoImagem-hovered) {
    filter: grayscale(100%);
  }